{% extends 'PHT/main.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css"
	integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">

<br>
<style>
	.btn-primary{
      color: #080103;
      background-color: #f05f6c;
      font-size: large;
      border-color: #f05f6c;
    }
  .btn-primary:hover{
    background-color: #080103;
    font-size: bold;
    color: #f05f6c;
  }
  .btn-primhassan{
      color: #F63854;
      position:relative;
	  left: 5px; 
      top:2px;
	  border-color: violet;
	  
    }
  .btn-primhassan:hover{
    background-color: #F63854;
    color: white;
    font-size: bold;
  }
  .btn-primhassan:active,
  .btn-primhassan:visited,
  .btn-primhassan:focus {
      border-color: #F63854;
}
	table,
	td {
		color: #f05f6c;
		position: relative;
		border: 2px solid black;
		width: 388px;
		font-family: 'Times New Roman', Times, serif;
	}

	th {
		position: relative;
		border: 2px solid black;
		width: 250px;
		font-family: 'Times New Roman', Times, serif;
	}
</style>
<div class="card card-body" style="margin-top: -31px;">

	<form method="POST" action="">
		<!-- <input class="btn login_btn"  value="Login"> -->
		{% csrf_token %}
		<div class="input-group mb-3">
		<div class="form-check form-check-inline">
			<input class="form-check-input" type="radio" name="URLS" value="URLS">
			<label class="form-check-label" for="URLS">
			  URLS
			</label>
		  </div>
		  <div class="form-check form-check-inline">
			<input class="form-check-input" type="radio" name="URLS" value="SKU">
			<label class="form-check-label" for="SKU">
			  SKU
			</label>
		  </div>
		<input class="btn btn-primary  btn-sm btn-block" type="submit" value="Add-Product">
		
			<div class="input-group-append">
				<span class="input-group-text"><i class="fas fa-external-link-alt"></i></span>
			</div>
	
			<input type="text" name="urls" placeholder="Enter Url of Daraz of Product OR SKU-NUMBER of Product..." class="form-control" value="{{urls}}">
			
		</div>
		
		</form>
	  </div>
<div class="row">
			
	<div class="col-md-5" style="position: relative;left: 11px;">
		<h5 style="position: relative; 
        color: #f05f6c;
    ">PRODUCT TRACKING</h5>
		<hr>
		<div class="card card-body" style="position: relative;">

			<div>
				<div>
					{% for data in datas %}
						<h6>{{data.item_name}}<a class="btn btn-primhassan"  href="{% url 'product' data.id  %}">View</a></h6>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>

	<div class="col-md-7" style="
    position: relative;
    left: -7px;
    color: #f05f6c;
">
		<h5 style="color: #f05f6c;">Tracked Data </h5>
		<hr>
		<div class="card card-body" style="
		height: 415px;
		color: #f05f6c;">
			<div class="row p-2 ">
				<div class="col-12 col-md-5" style="border: 2px solid #b5b1b1;border-radius:3px;">
					<div>
						<h6 style="color: #f05f6c;">Avg Units Sold</h6>
					</div>
					<div>
						<h3>23-24 /month</h3>
					</div>
					<hr>
					<div>
						<h6 style="color: #f05f6c;">Avg Revenue</h6>
					</div>
					<div>
						<h3>Rs583,082 /month</h3>
					</div>
				</div>
				<div class="col-2"></div>
				<div class="col-12 col-md-5" style="border: 2px solid #b5b1b1;border-radius:3px">
					<div>
						<h6 style="color: #f05f6c;">Avg Rating</h6>
					</div>
					<div>
						<h3>2.1</h3>
					</div>
					<hr>
					<div>
						<h6 style="color: #f05f6c;">Avg Reviews</h6>
					</div>
					<div>
						<h3>25</h3>
					</div>
				</div>

			</div>
			<!-- RGIHT SIDE DIV -->
			<div class="row p-2">

				<div
				class="col-12 col-md-5" style="border: 2px solid #b5b1b1;border-radius:3px">
					<div>
						<h6 style="color: #f05f6c;">Avg Price
						</h6>
					</div>
					<div>
						<h3>Rs24,812 /unit
						</h3>
					</div>
					<hr>
					<div>
						<h6 style="color: #f05f6c;">Avg LQS
						</h6>
					</div>
					<div>
						<h3>53 /100</h3>
					</div>
				</div>
				<div class="col-2"></div>
				<div
				class="col-12 col-md-5" style="border: 2px solid #b5b1b1;border-radius:3px">
					<div>
						<h6 style="color: #f05f6c;">Avg Charges
						</h6>
					</div>
					<div>
						<h3>2.1</h3>
					</div>
					<hr>
					<div>
						<h6 style="color: #f05f6c;">Profit</h6>
					</div>
					<div>
						<h3>25</h3>
					</div>
				</div>
			</div>
		</div>

	</div>

	{% endblock %}