{% extends 'PHT/main.html' %}
{% load static %}
{% block content %}
<style>
    .btn-primhassan{
        color: #F63854;
        position:relative; 
        top:2px;
        border-color: violet;
      }
      .btn-primhassan:hover{
      background-color: #F63854;
      color: white;
      font-size: bold;
    }
    table
       {
          color: #f05f6c;
          position: relative;
          border: 2px solid black;
          width: 100%;
      height: 100%;
          font-family: 'Times New Roman', Times, serif;
      }
  
      td,th {
          position: relative;
          border: 2px solid black;
          width: 550px;
          font-family: 'Times New Roman', Times, serif;
      }
      
  </style>
<div>
    <div class="card card-body" style="width: 100%; height: 69px;">

        <div>
            <div class="input-group mb-3" style="margin: auto;">


                <h2 style="width: 100%; text-align: center; color: #f05f6c;">PRODUCT DATABASE</h2>
                
            </div>
        </div>

    </div>

    <div class="card card-body" style="width: 100%;">

        <div class="input-group mb-3" style="overflow-y: scroll; height: 350px;">
            <div style="height:50%;">
                
                <h6>PRODUCT-NAME: Renewed - IMAC LATE 2009 SILVER BODY 21,5 INCH SCREEN CAMERA WIFI SPEAKER BLUETOOTH</h6>
                <div>
                    <img src="{% static 'images/download2.jfif' %}" style="width: 120px; height: 120px;">
                
                    <table>
                        <tr>
                        <th>SKU</th>
                        <td>186196593_PK-1372338607</td>
                        <th>Revenue</th>
                        <td>40000</td>
                        </tr>
                        <tr>
                        <th>Company</th>
                        <td>MSY</td>
                        <th>Sales</th>
                        <td>13-14</td>
                        </tr>
                        <tr>
                        <th>Brand</th>
                        <td>MSY-TECH</td>
                        <th>Price</th>
                        <td>25704</td>
                        </tr>
                        <tr>
                        <th>Seller</th>
                        <td>SOHAB ELECTRONICS</td>
                        <th>Review</th>
                        <td>0</td>
                        </tr>
                        <tr>
                        <th>Ratings</th>
                        <td>5</td>
                        <th>Shipping</th>
                        <td>Free</td>
                        </tr>
                    </table>
                </div>
            </div>
            <br>
            <br>
            <br>
            <br>
            <br>
            <div style="height:50%;">
                
                <h6>PRODUCT-NAME: Specifications of Philips 32" ANDROID Ultra Slim HD Smart LED TV (32PHT6915/98)</h6>
                <div>
                    <img src="{% static 'images/download.jfif' %}" style="width: 120px; height: 120px;">
                
                    <table>
                        <tr>
                        <th>SKU</th>
                        <td>220294946_PK-1433739908</td>
                        <th>Revenue</th>
                        <td>468000</td>
                        </tr>
                        <tr>
                        <th>Company</th>
                        <td>MSY</td>
                        <th>Sales</th>
                        <td>13-14</td>
                        </tr>
                        <tr>
                        <th>Brand</th>
                        <td>MSY-TECH</td>
                        <th>Price</th>
                        <td>4900</td>
                        </tr>
                        <tr>
                        <th>Seller</th>
                        <td>PHILLIP ENTERTAINMNET</td>
                        <th>Review</th>
                        <td>0</td>
                        </tr>
                        
                        <tr>
                        <th>Ratings</th>
                        <td>5</td>
                        <th>Shipping</th>
                        <td>Free</td>
                        </tr>
                    </table>
                </div>
            </div>
            <br>
            <br>

            <!-- <div>
                <h6>PRODUCT-NAME: Specifications of Philips 32" ANDROID Ultra Slim HD Smart LED TV (32PHT6915/98)</h6>
                <table style="height: 50%;">
                    <tr>
                    <th>SKU</th>
                    <td>220294946_PK-1433739908</td>
                    <th>Revenue</th>
                    <td>468000</td>
                    </tr>
                    <tr>
                    <th>Company</th>
                    <td>MSY</td>
                    <th>Sales</th>
                    <td>13-14</td>
                    </tr>
                    <tr>
                    <th>Brand</th>
                    <td>MSY-TECH</td>
                    <th>Price</th>
                    <td>Free</td>
                    </tr>
                    <tr>
                    <th>Seller</th>
                    <td>MY PENCIL</td>
                    <th>Review</th>
                    <td>0</td>
                    </tr>
                    
                    <tr>
                    <th>Ratings</th>
                    <td>5</td>
                    <th>Shipping</th>
                    <td>Free</td>
                    </tr>
                </table>
            </div> -->
        </div>

    </div>
</div>
{% endblock %}