{% load static %}
<style>
  /* .nav-item{ 
    transition: .5s ease-out ;
    } */
    .nav-link:hover{ 
      
      -webkit-transition: width 1s;
      transition: width 1s;
      border-bottom: 1px solid white;
    }
    .btn-primsajjad{
      color: white;
      position:relative; 
      top:2px;
    }
  .btn-primsajjad:hover{
    background-color: white;
    color: #F63854;
    font-size: bold;
  }
  .btn-primsajjad:active,
  .btn-primsajjad:visited,
  .btn-primsajjad:focus {
      border-color: #ffffff;
}
  </style>  
<nav class="navbar navbar-expand-lg navbar-light" style="height:60px; background-color: #F63854; ">
  <img src="{% static 'images/LGOGwhi-01.svg' %}" style="width: 123px;position: relative;top: -1px;left: -8px;">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav ml-auto" >
        <a class="nav-item nav-link active" style="color: white;" href="{% url 'dashboard'%}">Dashboard <span class="sr-only">(current)</span></a>
        
        
        <a class="nav-item nav-link" style="color: white;" href="{% url 'profitcalculator'%}">Profit Calculator</a>
        <a class="nav-item nav-link" style="color: white;" href="{% url 'database'%}">Database</a>
        <a class="btn btn-primsajjad"  href="{% url 'logout' %}">Logout</a>
      </div>
    </div>
  </nav>