{%  extends 'PHT/main.html' %}

{% block content %}
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
<style>
  .btn-primhassan{
      color: #F63854;
      position:relative; 
      top:2px;
	  border-color: violet;
    }
    .btn-primhassan:hover{
    background-color: #F63854;
    color: white;
    font-size: bold;
  }
  table
	 {
		color: #f05f6c;
		position: relative;
		border: 2px solid black;
		width: 100%;
    height: 100%;
		font-family: 'Times New Roman', Times, serif;
	}

	td,th {
		position: relative;
		border: 2px solid black;
		width: 550px;
		font-family: 'Times New Roman', Times, serif;
	}
    
</style>
<br>
<div class="row">
  <h5 style="
  /* position: relative; */
  color: #f05f6c;
  margin-left: 26px;
">PRODUCT TRACKING</h5>
  
  <hr>
  <div class="card card-body" style="
  width: 100%;
  height: 100%;
">
    
    <div>
      {% for product in products|slice:":1" %}
        <h6>{{product.item_name}}
        </h6>
      {% endfor %}
        <div class="input-group mb-3">
          <div style="width: 100%;height: 100%;">
            <h5>Schedular</h5>
            <form method="post">
              {% csrf_token %}
                <label>Enter in Minutes: </label><input name="minutes" type="number"/>
                <input class="btn btn-primhassan"  type='submit' value='Go'>
            </form>
        </div>
      </div>
      {% for product in products %}
        <table>
          <tr>
            <th>SKU</th>
            <td>{{product.sku}}</td>
            <th>Stock</th>
            <td>{{product.stock}}</td>
          </tr>
          <tr>
            <th>Company</th>
            <td>{{product.shop_name}}</td>
            <th>Ratings</th>
            <td>{{product.ratings}}</td>
          </tr>
          <tr>
            <th>Brand</th>
            <td>{{product.brand}}</td>
            <th>Price</th>
            <td>{{product.item_price}}</td>
          </tr>
          <tr>
            <th>Seller</th>
            <td>{{product.shop_name}}</td>
            <th>Review</th>
            <td>{{product.review}}</td>
          </tr>
          
          <tr>
            <th>Time of Data</th>
            <td>{{product.time}}</td>
            <th>Date of Data</th>
            <td>{{product.date}}</td>
          </tr>
          <br>
        </table>
      {% endfor %}
    </div>


  </div>
</div>
{% endblock %}

