{%  extends 'PHT/main.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

<style>
  .btn-primhassan{
      color: #F63854;
      position:relative; 
      top:2px;
	  border-color: violet;
    }
    .btn-primhassan:hover{
    background-color: #F63854;
    color: white;
    font-size: bold;
  }
  table
	 {
		color: #f05f6c;
		position: relative;
		border: 2px solid black;
		width: 100%;
    height: 100%;
		font-family: 'Times New Roman', Times, serif;
	}

	td,th {
		position: relative;
		border: 2px solid rgb(187, 187, 187);
		width: 550px;
		font-family: 'Times New Roman', Times, serif;
	}
    
</style>
<br>
<div class="row">
  <h5 style="
  /* position: relative; */
  color: #f05f6c;
  margin-left: 26px;
">PRODUCT TRACKING</h5>
  <div class="col-sm-12">
  {% for message in messages %}
    <div class="alert alert-danger" role="alert" style="font-size: 20px;">
      <i class="fas fa-exclamation-circle"></i>       <a href="#" class="alert-link" >       Error Occured: {{message}}</a>
    </div>
  {% endfor %}
</div>
  <hr>
  <div class="card card-body" style="
  width: 100%;
  height: 100%;
">
    
    <div>
      {% for product in products|slice:":1" %}
        <h6>{{product.item_name}}
        </h6>
      {% endfor %}
        <div class="input-group mb-3">
          <div style="width: 100%;height: 100%;">
            <h5>Schedular</h5>
            <form method="post">
              {% csrf_token %}
                <label>Enter in Seconds: </label><input name="seconds" type="number"/>
                <input class="btn btn-primhassan" name="Schedular" type='submit' value='Go'>
                <input class="btn btn-primhassan" name="Profit" type='submit' value='Profit Calculator'>
            </form>
        </div>
      </div>
      {% for product in products %}
        <table>
          <tr>
            <th>SKU</th>
            <td>{{product.sku}}</td>
            <th>Stock</th>
            <td>{{product.stock}}</td>
          </tr>
          <tr>
            <th>Company</th>
            <td>{{product.shop_name}}</td>
            <th>Ratings</th>
            <td>{{product.ratings}}</td>
          </tr>
          <tr>
            <th>Brand</th>
            <td>{{product.brand}}</td>
            <th>Price</th>
            <td>{{product.item_price}}</td>
          </tr>
          <tr>
            <th>Seller</th>
            <td>{{product.shop_name}}</td>
            <th>Review</th>
            <td>{{product.review}}</td>
          </tr>
          
          <tr>
            <th>Time of Data</th>
            <td>{{product.time}}</td>
            <th>Date of Data</th>
            <td>{{product.date}}</td>
          </tr>
          <br>
        </table>
      {% endfor %}
      </div>
      <div class="row">
        <div class="col-sm-4">
          <canvas id="chart"></canvas>
        </div>
        <div class="col-sm-4">   
          <canvas id="chart2"></canvas> 
        </div>
        <div class="col-sm-4">   
          <canvas id="chart3"></canvas> 
        </div>
      </div>
</div>
</div>
<script>
  let ctx = document.getElementById("chart").getContext("2d");
  let chart = new Chart(ctx, {
  type: "pie",
  data: {
   labels: [{% for vals in timelst %}'{{vals}}',{%  endfor %}],
  //  labels: ['2022-07-28','2022-08-01'],
   datasets: [
    {
      label: "Stock",
      backgroundColor: [{% for val in color %}'{{val}}',{%  endfor %}],
      borderColor: "black",
      
      data:[{% for val in datalst %}{{val}},{%  endfor %}]
      // data:[200,22000]
    }
   ]
  },
  options: {
   title: {
    text: "STOCK ON SPECIFIED DATE-DAY",
    display: true
   }
  }
});
// BAR Chart
let ctx2 = document.getElementById("chart2").getContext("2d");
  let chart2 = new Chart(ctx2, {
  type: "bar",
  data: {
   labels: [{% for vals in timelst %}'{{vals}}',{%  endfor %}],
  //  labels: ['2022-07-28','2022-08-01'],
   datasets: [
    {
      label: "Stock",
      backgroundColor: "#F63854",
      borderColor: "black",
      
      data:[{% for val in datalst %}{{val}},{%  endfor %}]
      // data:[200,22000]
    }
   ]
  },
  options: {
   title: {
    text: "STOCK ON SPECIFIED DATE-DAY",
    display: true
   }
  }
});
// line graph
let ctx3 = document.getElementById("chart3").getContext("2d");
  let chart3 = new Chart(ctx3, {
  type: "line",
  data: {
   labels: [{% for vals in timelst %}'{{vals}}',{%  endfor %}],
  //  labels: ['2022-07-28','2022-08-01'],
   datasets: [
    {
      label: "Price",
      backgroundColor: "#F63854",
      borderColor: "black",
      
      data:[{% for val in price_lst %}{{val}},{%  endfor %}]
      // data:[200,22000]
    }
   ]
  },
  options: {
   title: {
    text: "PRICE ON SPECIFIED DATE-DAY",
    display: true
   }
  }
});
</script>
{% endblock %}


