<style>
    .btn-primhassan{
        color: #F63854;
        position:relative; 
        top:2px;
        border-color: violet;
      }
      .btn-primhassan:hover{
      background-color: #F63854;
      color: white;
      font-size: bold;
    }
    table
       {
          color: #f05f6c;
          position: relative;
          border: 2px solid black;
          width: 100%;
      height: 100%;
          font-family: 'Times New Roman', Times, serif;
      }
  
      td,th {
          position: relative;
          border: 2px solid black;
          width: 550px;
          font-family: 'Times New Roman', Times, serif;
      }
      
  </style>
<div class="card card-body" style="width: 100%;">
    
    <div class="input-group mb-3" style="height: 350px;">
        
        <div style="height:50%;">
            <div>
                <img src="download.jfif">
            
            <h6>PRODUCT-NAME: Specifications of Philips 32" ANDROID Ultra Slim HD Smart LED TV (32PHT6915/98)</h6>
            <table>
                <tr>
                <th>SKU</th>
                <td>220294946_PK-1433739908</td>
                <th>Revenue</th>
                <td>468000</td>
                </tr>
                <tr>
                <th>Company</th>
                <td>MSY</td>
                <th>Sales</th>
                <td>13-14</td>
                </tr>
                <tr>
                <th>Brand</th>
                <td>MSY-TECH</td>
                <th>Price</th>
                <td>Free</td>
                </tr>
                <tr>
                <th>Seller</th>
                <td>MY PENCIL</td>
                <th>Review</th>
                <td>0</td>
                </tr>
                
                <tr>
                <th>Ratings</th>
                <td>5</td>
                <th>Shipping</th>
                <td>Free</td>
                </tr>
            </table>
        </div>
        </div>
    </div>
</div>

